* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url('2.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    position: relative; /* Позиционирование для overlay */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center; /* Центрирование текста */
    color: #fff;
    padding: 20px;
    position: relative; /* Позиционирование для overlay */
    z-index: 1; /* Устанавливаем z-index, чтобы контейнер был выше overlay */
}

/* Накладка для затемнения */
.overlay {
    position: absolute; /* Абсолютное позиционирование для перекрытия фона */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Полупрозрачный черный фон, изначально прозрачный */
    transition: background-color 0.4s ease; /* Плавный переход для затемнения */
    z-index: -1; /* Накладка под контейнером */
}

/* Стили для логотипа */
.logo {
    font-size: 3em;
    font-weight: bold; /* Жирное начертание шрифта */
    font-style: italic; /* Курсив */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Цвета для отдельных частей логотипа */
.bet {
    color: #FFC107; /* Желтый цвет для BET */
}

.winner {
    color: #FFFFFF; /* Белый цвет для WINNER */
}

.offer {
    font-size: 1.5em;
    margin: 20px 0;
    color: #FFC107;
}

/* Анимация кнопки */
.download-button-img {
    width: 260px;
    height: auto;
    cursor: pointer;
    transition: transform 0.6s ease; /* Плавный переход при наведении */
}
.button-one {
    position: relative;
    left: -529px;
	bottom:-75px;/* Смещаем только первую кнопку */
}

.button-two {
    position: relative;
    left: -252px;
	bottom:5px;/* Смещаем только вторую кнопку */
}

/* Эффект увеличения при наведении */
.download-button-img:hover {
    transform: scale(1.1); /* Увеличиваем размер кнопки при наведении */
    transition: transform 0.8s ease; /* Более плавный переход */
}

/* Затемнение фона при наведении на кнопку */
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон при наведении */
}

/* Стиль для неактивных кнопок при наведении */
.inactive {
    opacity: 0.5; /* Прозрачность для неактивных кнопок */
}

.steps {
    font-size: 1em;
    margin-top: 30px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .logo {
        font-size: 2em;
    }

    .offer {
        font-size: 1.2em;
    }

    .download-button-img {
        width: 160px;
    }

    .steps {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1.8em;
    }

    .offer {
        font-size: 1em;
    }

    .download-button-img {
        width: 140px;
    }

    .steps {
        font-size: 0.8em;
    }
}
